@import "../App.scss";

.PlayerCard {
  text-align: center;
  background-color: #aaaaaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.PlayerCard-info-container {
  background-color: "yellow";
  max-width: 480px;
  display: flex;
  flex: 1;
  padding: 10px;
}

.PlayerCard-color {
  width: 40px;
}

.PlayerCard-name {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}

.PlayerCard-picture {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}

.PlayerCard-remove {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}
