$primaryColor: #bada55;
$fillColor: #ff0000;
$backgroundColor: #eeeeee;

.App {
  text-align: center;
  background-color: $fillColor;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.App-contents-container {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
