@import "config";

.app {
  text-align: center;
  background-color: $fillColor;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;

  &-container {
    background-color: $backgroundColor;
    max-width: 480px;
    flex: 1;
  }
}
