@import "../../App.scss";

.round {
  text-align: center;
  background-color: #aaaaaa;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  > h1 {
    display: flex;
  }

  > .buttons {
    display: flex;

    button {
      margin: 10px;
    }
  }
}
