@import "../../App.scss";

.playerSelect {
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
}

.PlayerCard {
  text-align: center;
  background-color: #aaaaaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.PlayerCard-info-container {
  background-color: "yellow";
  max-width: 480px;
  display: flex;
  flex: 1;
  padding: 10px;
  position: relative;
}

.PlayerCard-color {
  width: 40px;
}

.PlayerCard-popover {
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.PlayerCard-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.PlayerCard-name {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  background-color: $backgroundColor;
}

.PlayerCard-picture {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}

.PlayerCard-remove {
  background-color: $backgroundColor;
  max-width: 480px;
  flex: 1;
}

.btn-bottom-big {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #aaaaaa;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  margin: 10px auto;
}
